<div class="categories-content">
  <h2 class="h2">Категории</h2>
  <div class="categories clearfix">
    <div *ngFor="let item of categories" class="item">
      <div *ngIf="!item.editImg" class="img">
        <label (click)="labelClick($event)">
          <img [src]="pathToAssets + '/assets/img/categories/' + item.id + item.img" [style.left]="item.position_px + 'px'" (mousedown)="imgMouseDown($event,item)" alt="Отзыв">
          <input id="upload" required name="image" type="file" accept="image/jpeg,image/png" (change)="onFileSelected($event,item)" ngModel>
        </label>
      </div>
      <div *ngIf="!item.editName" class="name">
        {{item.name}} <span title="Изменить название" (click)="item.editName=!item.editName"><i class="fa fa-pencil"></i></span>
        <div class="remove">
          <span (click)="removeCategory(item.id,item.img)" title="Удалить категорию"><i class="fa fa-trash"></i></span>
        </div>
      </div>
      <div *ngIf="item.editName" class="name input">
        <form #f="ngForm" (ngSubmit)="editCategoryName(f);item.editName=!item.editName" ngNativeValidate>
          <input [(ngModel)]="item.id" name="id" type="hidden">
          <input required name="name" [(ngModel)]="item.name" type="text" maxlength="27" placeholder="Название категории">
          <button><i class="fa fa-check"></i></button>
        </form>
      </div>
    </div>
    <div class="item">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>
        <div class="img">
          <label (click)="labelClick($event)">
            <img *ngIf="filePath" [src]="pathToAssets + '/assets/img/categories/pre/' + image" [style.left]="imageLeftPx + 'px'" (mousedown)="imgMouseDown($event)" alt="Отзыв">
            <div *ngIf="!filePath" class="text">
              <i class="fa fa-upload"></i><br>
              Выберите изображение
            </div>
            <input id="upload" required name="image" type="file" accept="image/jpeg,image/png" (change)="onFileSelected($event)" ngModel>
          </label>
        </div>
        <div class="name input">
          <input required name="name" type="text" maxlength="27" placeholder="Название категории" ngModel>
          <button><i class="fa fa-plus"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>