<section (window:resize)="onResize($event)" class="s-home">
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="h2">{{title}}</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="page" [class]="mainClass">
  <div (click)="changeShowPageNav(true)" class="show-nav hidden-lg hidden-md">
    <i class="fa fa-list-ul"></i>
  </div>
  <div class="container">
    <div class="row">
      <router-outlet></router-outlet>
      <div (click)="changeShowPageNav(false)" [hidden]="(windowWidth < 992 && !showPageNav)" class="page-nav">
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
          <div (click)="stop($event)" class="page-nav-content">
            <div class="popular">
              <h3 class="h3">Популярные товары</h3>
              <a *ngFor="let item of goods" [routerLink]="['/catalog', item.id]" class="popular-good">
                <div class="img"><img [src]="'assets/img/goods/' + item.imgId + item.img" [style.left]="item.position_pc + '%'" alt="Товар"></div>
                <div class="info">
                  <div class="name">{{item.name}}</div>
                  <div class="price">
                    <span [class.overline]="item.saleprice"><i class="fa fa-ruble"></i> {{item.price}}</span>
                    <span *ngIf="item.saleprice"><i class="fa fa-ruble"></i> {{item.saleprice}}</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="categories">
              <h3 class="h3">Категории</h3>
              <ul>
                <li><a routerLink="/catalog">Все товары</a></li>
                <li><a routerLink="/catalog" [queryParams]="{sale:true}">Скидки</a></li>
                <li><a routerLink="/catalog" [queryParams]="{wholesale:true}">Покупка оптом</a></li>
                <li *ngFor="let item of categories"><a routerLink="/catalog" [queryParams]="{category:item.id}">{{item.name}}</a></li>
              </ul>
            </div>
            <div class="filters">
              <div class="search">
                <div class="text">Поиск по товарам</div>
                <form>
                  <input type="text" [(ngModel)]="search" name="search" placeholder="Поиск по товарам..."><button (click)="applyFilters()" type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>
              <div class="price">
                <div class="text">Цена</div>
                <form>
                  <input type="text" name="from" [(ngModel)]="from" placeholder="От"> - <input type="text" name="to" [(ngModel)]="to" placeholder="До"><br>
                  <button (click)="applyFilters()" type="submit">Применить</button>
                </form>
              </div>
              <div *ngFor="let item of filters" class="filter">
                <div class="text">{{item.name}}</div>
                <label *ngFor="let value of item.values"><input type="checkbox" [(ngModel)]="value.checked"> {{value.value}}<br></label>
                <button (click)="applyFilters()" type="submit">Применить</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>