<div class="nav">
  <ul>
    <li><a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-home"></i> Главная</a></li>
    <li><a routerLink="/admin/categories" routerLinkActive="active"><i class="fa fa-list-ol"></i> Категории</a></li>
    <li><a routerLink="/admin/characteristics" routerLinkActive="active"><i class="fa fa-filter"></i> Характеристики</a></li>
    <li><a routerLink="/admin/goods" routerLinkActive="active"><i class="fa fa-shopping-bag"></i> Товары</a></li>
    <li><a routerLink="/admin/reviews" routerLinkActive="active"><i class="fa fa-comment"></i> Отзывы</a></li>
    <li><a routerLink="/admin/profile" routerLinkActive="active"><i class="fa fa-user"></i> Профиль</a></li>
  </ul>
</div>